:root {
  --nav-height: 5vh;
}

.homeNav {
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
  background: var(--primary);
  color: var(paragraph-light);
  height: var(--nav-height);
  box-shadow: 1px 1px 5px color-mix(in srgb, var(--dark) 50%, transparent 50%);
  position: sticky;
  z-index: 2;
}

.homeNavLogoWrapper {
  display: flex;
  align-items: center;
}

.homeNavLogoWrapperLogo {
  width: 10vw;
}

.homeNavContent {
  display: flex;
}

.homeNavContentList {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1vw;
  align-items: center;
  font-family: AntonSC;
}

.homeNavToggleNavButton {
  display: none;
  background: transparent;
  border: none;
  color: var(--light);
  transition: transform 0.5s ease;
}

.minusNinetyDegrees {
  transform: rotate(-90deg);
}

.home-nav__content--toggle a:hover {
  color: var(--primary);
}

/* Media Queries */

@media screen and (max-width: 768px) {
  .homeNavContentList {
    font-size: 0.75em;
  }

  .homeNavLogoWrapperLogo {
    width: 20vw;
  }
}

@media screen and (max-width: 425px) {
  .homeNavContent {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--accent-dark);
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    z-index: 1;
  }

  .homeNavOpen {
    max-height: 10em;
  }

  .homeNavContent .homeNavContentList {
    flex-direction: column;
    padding: 0;
    margin-top: 1vh;
    gap: 0.5vh;
  }

  .homeNavContent a {
    color: var(--paragraph-dark);
  }

  .homeNavToggleNavButton {
    display: block;
  }
}
