{% extends 'core/base.html' %}

{% block title %}Inicio{% endblock %}

{% block header %}
<div class="jumbotron">
  <h1 class="display-4">Bienvenido a mi sitio web</h1>
  <p class="lead">Este es un sitio web de ejemplo utilizando Django y Bootstrap.</p>
  <hr class="my-4">
  <p>Explora el contenido y disfruta de la experiencia.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Aprende más</a>
</div>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col">
    <h2>Sección 1</h2>
    <p>Contenido de la sección 1.</p>
  </div>
</div>
{% endblock %}
