{% extends 'core/base.html' %}

{% load static %}
{% block title %}Inicio{% endblock %}

{% block header %}
  <nav class="navbar navbar-expand-lg bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'index' %}">
        <img src="{% static 'vendor/svg/LogoAuxiliumVector.svg' %}" alt="" width=100>
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse show justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="#">Quiénes somos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="#">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="#">Impacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="#">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="#">Contacto</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

<div class="container-fluid p-0">
  <div class="position-absolute text-white container-fluid p-0 text-center translate-middle-x ">
    <span>Esto es un texto de ejemplo</span>
  </div>
  <img src="{% static 'vendor/img/jessica-neves-sbMIZxxhgbw-unsplash.jpg' %}" alt="" class="img-fluid"/>
</div>

{% endblock %}

{% block content %}

{% endblock %}


{% block footer %}
{% endblock %}
