/* Image grid */

.image-grid-wrapper {
        display: flex;
        justify-content: center;
        padding: 2rem;
        align-items: center;
}

.image-grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 3vw;
        align-content: center;
        margin: 1rem;
}

.image-grid img {
        max-width: 20vw;
        height: 15vw;
        border-radius: 10px;
}

.footer-wrapper {
        background: var(--accent-dark);
        display: flex;
        justify-content: center;
        padding: 5vw;
}

.footer-logo {
        width: 50%;
}

.header p {
        font-style: italic;
        font-size: clamp(0.6rem, 6vw, 4rem);
}

@media (max-width: 425px) {
        .image-grid {
                grid-template-columns: auto;
        }

        .image-grid img {
                max-width: 80vw;
                height: auto;
        }
}