.footerWrapper {
  background: var(--accent-dark);
  display: flex;
  justify-content: center;
  padding: 5vw;
}
.NewsGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80vw;
    justify-self: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
    gap: 2vw;
}
.NewInGrid {
    background-color: var(--accent-dark);
    width: fit-content;
    padding: 0.5vw;
    border-radius: 15px;
    
}
.NewImageonGrid{
    display: flex;
    justify-self: center;
    width: 20vw;
    height: auto;
}
.NewTitleinGrid {
    display: flex;
    margin-top: 0.5vw;
    font-weight: bold;
    font-family: Antonio;
    font-size: 20px;
    width: 20vw;
}
.FilterGrid {
    display: grid;
    grid-template-columns: auto auto auto ;
    width: 80vw;
    justify-self: center;
}
.NewsFilter {
    display: grid;
    grid-auto-rows: auto auto;
    gap: 0.5vw;
}
input, select {
    width: 20vw;
    height: 2vw;
    font-size: 20px;
    border-radius: 10px;
    border-width: 2px;
    background-color: var(--accent-dark);
}
label {
    font-size: 20px;
    margin-top: 1vw;
}