.home-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 3vw;
  background: var(--primary);
  color: var(--light);
  height: 5vh;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.home-nav-logo{
  width: 10vw;
}

.home-nav__content {
  display:flex;
}

.home-nav__content__list {
  display:flex;
  list-style-type: none;
  gap: 1vw;
  align-items: center;
}

.main-image {
  width: 100%;
  height: auto;
  max-height: 600px;
  object-fit: cover;
}
