/* Image grid */

.image-grid-wrapper{
  display:flex;
  justify-content: center;
  padding: 30px 0;
 }

.image-grid{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
}

.image-grid img {
  max-width: 40vw;
  border-radius: 10px
}

.footer-wrapper {
  background: var(--accent-dark);
  display: flex;
  justify-content: center;
  padding: 5vw
}

.footer-logo {
  width: 50%
}
