@font-face {
  font-family: Antonio;
  src: url(assets/fonts/Antonio/Antonio-Bold.ttf);
}
@font-face {
  font-family: AntonSC;
  src: url(assets/fonts/AntonSC/AntonSC-Regular.ttf);
}
@font-face {
  font-family: Monda;
  src: url(assets/fonts/Monda/Monda-Medium.ttf);
}
:root {
  --primary: #006633;
  --primary-dark: #063f1e;
  --secondary: #ffc75b;
  --accent-dark: #e0e499;
  --accent-light: #f2f2f0;
  --paragraph-dark: #000000;
  --paragraph-light: #ffffff;
  --dark: #000000;
  --light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--accent-dark);
}
