@font-face {
  font-family: Antonio;
  src: url(assets/fonts/Antonio/Antonio-Bold.ttf);
}
@font-face {
  font-family: AntonSC;
  src: url(assets/fonts/AntonSC/AntonSC-Regular.ttf);
}
@font-face {
  font-family: Monda;
  src: url(assets/fonts/Monda/Monda-Medium.ttf);
}
:root {
  --primary: #006633;
  --primary-dark: #063F1E;
  --secondary: #FFC75B;
  --accent-dark: #E0E499;
  --accent-light: #F2F2F0;
  --paragraph-dark: #000000;
  --paragraph-light: #FFFFFF;
  --dark: #000000;
  --light: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
}
