.footerWrapper {
  background: var(--accent-dark);
  display: flex;
  justify-content: center;
  padding: 5vw
}

.footerLogo {
  width: 50%
}
h3 {
  font-family: AntonSC;
  justify-content: center;
  font-size: 3vw;
  margin-top: 3vh;
}
.contactTitle, .ContactGrid, .emailTitle {
  display: flex;
  justify-content: center;

}
