.text-image__image {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.text-image-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-image__text{
  position: absolute;
  padding: 0% 10%;
  font-size: clamp(0.5rem, 10vw, 1.5rem);
  color: var(--paragraph-light);
  text-align: center;
  font-family: Monda;
}
