.memberCard {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        margin-bottom: 2vw;

}

.memberCard__Image {
        border-radius: 5%;
        width: 25%;
        aspect-ratio: 4/5;
        object-fit: cover;
        object-position: center;
}

.memberCard__Text {
        font-family: Monda;
        font-size: clamp(0.5rem, 2vw, 5rem);
        width: 70%;
}


.titleText {
        width: 70%;
}

.titleText p {
        font-family: Monda;
        font-size: clamp(0.5rem, 1.8vw, 5rem);
        margin-left: 2vw;
        text-align: left;
        width: fit-content;
}

.normalText {
        width: 70%;
}

.normalText p {
        font-family: Monda;
        font-size: clamp(0.5rem, 1.1vw, 2rem);
        margin-left: 2vw;
        padding: 0.4vh;
}

@media (max-width: 1024px) {
        .memberCard {
                margin-left: 0;
                gap: 1rem;
        }

        .memberCard__Image {
                width: 40%;
                margin: 0;
                flex-shrink: 0;
        }

        .memberCard__Text {
                width: 100%;
        }

        .titleText,
        .normalText {
                width: 100%;
                margin: 0;
        }

        .normalText p {
                font-family: Monda;
                font-size: 1.7vw;
                width: 100%;
                margin: 0;
                padding: 0.4vh;

        }

        .titleText p {
                font-family: Monda;
                font-size: 3.1vw;
                margin: 0;
                text-align: center;
                width: 100%;
        }
}

@media (max-width: 430px) {
        .memberCard {
                width: 95%;
                margin: 0 auto 2vw;
                display: block;
        }

        .memberCard__Image {
                display: block;
                margin: 0 auto 1rem;
                border-radius: 5%;
                width: 80%;
                aspect-ratio: 4/5;
                object-fit: cover;
        }

        .memberCard__Text {
                width: 100%;
        }

        .titleText,
        .normalText {
                width: 100%;
                margin: 0;
        }

        .normalText p {
                font-family: Monda;
                font-size: 4vw;
                margin: 0;
                padding: 0.4vh;
                text-align: center;
        }

        .titleText p {
                font-family: Monda;
                font-size: 4.5vw;
                margin: 0;
                width: 100%;
                text-align: center;
        }
}